<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Administrador</title>
    <link rel="stylesheet" th:href="@{/Assets/css/show.css}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>Detalle del Administrador</h1>
        <div class="card-body">
            <p><strong>ID:</strong> <span th:text="${administrador.id}"></span></p>
            <p><strong>Documento:</strong> <span th:text="${administrador.tipoDoc} + ' ' + ${administrador.numeroDoc}"></span></p>
            <p><strong>Nombre:</strong> <span th:text="${administrador.nombre} + ' ' + ${administrador.apellido}"></span></p>
            <p><strong>Género:</strong> <span th:text="${administrador.genero}"></span></p>
            <p><strong>Teléfono:</strong> <span th:text="${administrador.telefono}"></span></p>
            <p><strong>Correo:</strong> <span th:text="${administrador.correo}"></span></p>
        </div>
        <div class="actions">
            <a th:href="@{/administradores}" class="btn btn-secondary mt-3">Volver</a>
        </div>
    </div>
</div>

</body>
</html>