* {
	box-sizing: border-box;
}

body {
	font-family: arial, sans-serif;
	margin: 0;
	background: linear-gradient(to right, #059669, #50aff7);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container_login {
	display: flex;
	border-radius: 2rem;
	width: 60rem;
	overflow: hidden;
	margin: 2rem;
}

.apartado_1 {
	width: 30rem;
	padding: 3rem;
	background-color: #fff;
}

.logo-name {
	align-items: center;
}

.logo-name img {
	width: 17rem;
}

.label {
	color: #222;
	font-weight: 520;
	padding: 3rem 0 .5rem 0;
	font-size: 1.25rem;
}

.input input {
	width: 100%;
	padding: 1rem;
	border-radius: .6rem;
	border: .1rem solid #aaa;
	background-color: #eee;
	font-size: 1.05rem;
	outline: none;
}

.input input:focus {
	border: .1rem solid #00f;
}

button {
	width: 45%;
	margin-top: 2rem;
	padding: 1rem;
	background-color: #1e3a8a;
	color: #fff;
	font-size: 1.2rem;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	transition: .2s linear;
}

button:hover {
	background-color: #2247b1;
}

.cuenta {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.cuenta a {
	font-size: 1.15rem;
	color: #1e3a8a;
	text-decoration: none;
}

.no-cuenta {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.no-cuenta p {
	font-size: 1.15rem;
	color: #555;
}
.no-cuenta a {
	font-size: 1.15rem;
	color: #1e3a8a;
	text-decoration: none;

}

.apartado_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30rem;
	background-color: #059669;
	padding: 4rem;
}

.emoji-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	width: 7rem;
	height: 7rem;
	font-size: 5rem;
	margin-top: 1rem;
}

.emoji-icon img {
	width: 5.5rem;
}

.h1-info {
	color: #fff;
	margin-top: 1rem;
}

.P-info {
	color: #fff;
	text-align: center;
	font-weight: lighter;
	margin-top: 1rem;
}

.p-info {
	margin-top: 2rem;
}

.p-info p {
	color: #fff;
	margin-top: 1rem;
}

.body {
  animation: aparecer .8s ease;
}

@keyframes aparecer {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}
